@include respond-to("small"){
    .cards{
        max-width: none;
        margin: 1em 0;
        display: grid;
        grid-template-columns: repeat(2, 25em);
        grid-gap: 1em;
        justify-content: center;
    }
    
    .card{
       margin:0;
    }
    
    img{
        max-width: 25em;
        width: 100%;
        height: auto;
    }
}